<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Вход</title>
</head>
<body>
<h1>Вход в аккаунт</h1>
<form th:action="@{/user/login/done}" method="POST">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">Войти</button>
  </div>
  <p th:if="${param.error}" style="color: red;">Неверное имя пользователя или пароль</p>
  <p th:if="${param.logout}" style="color: green;">Вы успешно вышли из системы</p>
</form>
</body>
</html>
