<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{logout.title}">Logged Out</title>
</head>
<body>
<!-- Сообщение об ошибке выхода -->
<div id="error" th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
  <p th:text="#{message.logoutError}">Error during logout</p>
</div>

<!-- Сообщение об успешном выходе -->
<div id="success" th:if="${param.logSucc == true}">
  <p th:text="#{message.logoutSucc}">You successfully logged out</p>
</div>

<!-- Ссылка на страницу входа -->
<a href="login.html" th:text="#{link.login}">Login</a>
</body>
</html>
