<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${recipe.theme}">Рецепт</title>
</head>
<body>
<h1 th:text="${recipe.theme}">Тема блюда</h1>

  <h2 for="photoFood">Фото блюда:</h2>
    <div th:if="${photoFoods != null and photoFoods.size() > 0}">
      <ul>
        <li th:each="photo : ${photoFoods}">
          <img th:src="@{'/files/file_system/' + ${photo.name}}" alt="Фото блюда" />
        </li>
      </ul>
    </div>



<h2>Фото шагов приготовления</h2>
    <div th:if="${stepPhotos != null and stepPhotos.size() > 0}">
      <ul>
        <li th:each="step : ${stepPhotos}">
          <img th:src="@{'/files/file_system/' + ${step.name}}" alt="Фото шага приготовления">
        </li>
      </ul>
    </div>


<p><strong>Тип блюда:</strong> <span th:text="${recipe.typeOfFood}">Тип блюда</span></p>
<p><strong>Национальная кухня:</strong> <span th:text="${recipe.nationalKitchen}">Национальная кухня</span></p>
<p><strong>Тип приготовления:</strong> <span th:text="${recipe.typeOfCook}">Тип приготовления</span></p>
<p><strong>Ограничения:</strong> <span th:text="${recipe.restrictions}">Ограничения</span></p>
<p><strong>Количество порций:</strong> <span th:text="${recipe.countPortion}">Количество порций</span></p>
<p><strong>Калорийность (ккал):</strong> <span th:text="${recipe.kkal}">Калорийность</span></p>
<p><strong>Время приготовления:</strong> <span th:text="${recipe.timeToCook}">Время приготовления</span> минут</p>

<a href="/recipes">Назад к списку рецептов</a>
</body>
</html>
