<div class="gemini-dialog">
    <h2 >Создание диеты</h2>
  
    <textarea [(ngModel)]="prompt"
              rows="4"
              placeholder="Например: Хочу похудеть..." mat-form-field></textarea>
  
    <div mat-dialog-actions class="buttons">
      <button mat-raised-button color="accent" (click)="sendPrompt()" [disabled]="loading">
        {{ loading ? 'Обработка...' : 'Составить диету' }}
      </button>
      <button mat-raised-button color="warn" class="secondary" (click)="close()">Закрыть</button>
    </div>
  
    <div *ngIf="recipes.length" class="results">
      <h3>Созданная диета:</h3>
      <ul>
        <li *ngFor="let recipe of recipes">
          <strong>{{ recipe.name }}</strong> — {{ recipe.kkal }} ккал
        </li>
      </ul>
    </div>
  
    <div *ngIf="error" class="error">
      Ошибка: {{ error }}
    </div>
  </div>
  